{% extends 'base.html' %}

{% block titulo %} Sobre nosotros {% endblock %}

{% block contenido %}

{% load static %}
            
        <section class="page-section about-heading">
            <div class="container">
                
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    
                                    <span class="section-heading-lower">Acerca de nuestra libreria</span>
                                </h2>
                                <p>Fundada en el 2022 por tres ingenieros, en la ciudad de Buenos Aires, nuestra Libreria Internacional Online, ofrece un catalago extenso, variado y unico. Donde podes encontrar cualquier libro o autor. Nuestra idea de hacer este Blog fue facilitar a la gente para que pueda acceder a sus libros mas deseados de forma mas facil. Desde novelas a fabulas, de poemas a biografias.</p>
                                <p class="mb-0">
                                    Le garantizamos el mejor servicio, esperemos que pueda encontrar el libro que usted tanto busco, o dejarse llevar por la imaginacion y descubrir nuevos gustos!
                                    <em></em>
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}