{% extends 'base.html' %}


{% block contenido %}
<h1>Editoriales disponibles</h1>
<p></p>

 
<table style="align-content: center;"> 
    <form action="{% url 'editorial_resultados' %}" method="get">
        <p>
            Nombre Editorial: <input type="text" name="nombre_editorial">
    
   
             
            <input type="submit" value="Buscar!" class="btn btn-primary" >
            <a href="{% url 'editorial-list' %}"  class="btn btn-primary" >Mostrar Todos</a> 
            {% if request.user.is_superuser %}
            <a href="{% url 'editoriales-crear' %}"  class="btn btn-primary" >Agregar</a> 
            {%endif%}
      
        </p>
    </form>

</table>

{% endblock %}