{% extends 'base.html' %}


{% block contenido %}
<h1>Libros disponibles</h1>
<p></p>

<table style="align-content: center;"> 
    <form action="{% url 'libro_resultados' %}" method="get">
        <p>
            Libro: <input type="text" name="titulo_libro">
    
   
             
            <input type="submit" value="Buscar!" class="btn btn-primary" >
            <a href="{% url 'libro-list' %}"  class="btn btn-primary" >Mostrar Todos</a> 
        </p>
    </form>

<form method="post" class="caption" style="text-align: center;" enctype="multipart/form-data">
    {% csrf_token %}

    {{ formulario.as_p }}

    <input type="submit" value="Cargar Libro" class="btn btn-primary">
</form>

</table>
{% endblock %}