{% extends 'base.html' %}


{% block contenido %}
<h1>Libros disponibles</h1>
<p></p>

<table>
    <form action="{% url 'libro_resultados' %}" method="get">
        <p>
            Libro: <input type="text" name="titulo_libro">
            <input type="submit" value="Buscar!">
        </p>
    </form>
    

    
<ul>
    {% if libros.count == 0 %}
    <p>No se encontraron Libros!! </p>
    {% endif%}
    {% for libro in libros %}
        <li>{{libro.titulo}} - {{libro.fecha_Publicacion}} - {{libro.genero}}</li>
    {% endfor%}
</ul>
</table>

<a class="btn btn-primary" href="{% url 'libros' %}">Volver</a>

{% endblock %}